# Importing libraries

In [1]:
import pandas as pd
import numpy as np
import requests
import prepare

In [2]:
# api import...
key = pd.read_csv("api.txt",header = None)[0][0]

In [3]:
ticker = ["AAPL"]

In [4]:
# https://financialmodelingprep.com/api/v3/ratios/AAPL?period=quarter&limit=140&apikey=key

# Scraping data from financial modeling website

In [5]:
URL = "https://financialmodelingprep.com/api/v3/"
ratios = "ratios/"
ticker = ticker[0] #currently one on the list
period = "quarter"
limit = 140
r = requests.get("{}{}{}?period={}&limit={}&apikey={}".format(URL, ratios,ticker, period,limit,key))

In [6]:
r

In [7]:
financial_ratios =pd.DataFrame.from_dict(r.json())

In [8]:
financial_ratios.head()

,symbol,date,period,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
0,AAPL,2022-12-31,Q1,0.938020,0.768724,0.149578,168.800895,9.185598,50.807736,78.007542,...,17.625873,17.208993,68.334817,60.724643,60.724643,0.369993,17.625873,0.001825,55.930784,36.401387
1,AAPL,2022-09-24,Q4,0.879356,0.709408,0.153563,246.712888,8.551997,69.385312,110.859542,...,26.750496,29.094279,115.723690,99.948201,99.948201,3.879237,26.750496,0.001536,88.464258,47.589403
2,AAPL,2022-06-25,Q3,0.864629,0.696627,0.211761,185.854820,10.387263,56.214478,92.426180,...,27.599692,29.441966,110.131931,100.019345,100.019345,-1.333548,27.599692,0.001664,89.576226,39.403907
3,AAPL,2022-03-26,Q2,0.926844,0.760039,0.220363,170.346841,8.980427,50.983758,86.649610,...,29.238186,28.430951,110.877604,100.981052,100.981052,-1.052444,29.238186,0.001264,87.470292,42.199918
4,AAPL,2021-12-25,Q1,1.037812,0.875263,0.251528,192.160595,7.587157,54.969221,96.017044,...,23.848639,21.339298,66.932039,62.937436,62.937436,0.310164,23.848639,0.001263,68.148383,41.093249

In [9]:
financial_ratios.tail()

,symbol,date,period,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
128,AAPL,1990-12-31,Q1,2.372470,1.485405,0.689453,185.931065,47.889801,93.735817,48.921454,...,3.017526,8.398447,33.109791,22.282349,22.282349,0.160316,3.017526,0.002749,14.974344,3.272193
129,AAPL,1990-09-30,Q4,2.340117,1.106719,0.364849,205.371464,54.100440,104.739979,51.832939,...,2.648347,9.101846,119.937364,36.705498,36.705498,-0.728403,2.648347,0.003597,15.004623,2.478661
130,AAPL,1990-06-30,Q3,2.637276,1.545270,0.749803,188.677828,45.427979,91.951279,43.435933,...,4.091759,11.653658,22.248737,18.503754,18.503754,-1.513509,4.091759,0.002400,20.074434,3.706154
131,AAPL,1990-03-31,Q2,2.931293,1.684877,0.834044,178.622790,49.752344,93.796320,37.541129,...,3.789120,9.675481,19.581242,16.818046,16.818046,1.159840,3.789120,0.002647,17.192138,3.289002
132,AAPL,1989-12-31,Q1,2.605018,1.298869,0.459841,183.062140,57.433059,102.571669,34.828721,...,3.242598,9.700513,24.432371,18.546518,18.546518,27.264990,3.242598,0.002891,17.828430,3.177908

In [22]:
financial_ratios['date'] = pd.to_datetime(financial_ratios['date'])

In [24]:
financial_ratios['date'] = financial_ratios['date'].dt.year

In [10]:
URL = "https://financialmodelingprep.com/api/v3/"
incstat = "income-statement/"
ticker = ticker[0] #currently one on the list
period = "quarter"
limit=400
r = requests.get("{}{}{}?period={}&limit={}&apikey={}".format(URL, incstat,ticker, period,limit,key))

In [11]:
# https://financialmodelingprep.com/api/v3/income-statement/AAPL?period=quarter&limit=400&apikey=api

In [12]:
r

In [14]:
income_statement = pd.DataFrame.from_dict(r.json())

In [15]:
income_statement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 38 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   date                                     96 non-null     object
 1   symbol                                   96 non-null     object
 2   reportedCurrency                         96 non-null     object
 3   cik                                      96 non-null     object
 4   fillingDate                              96 non-null     object
 5   acceptedDate                             96 non-null     object
 6   calendarYear                             96 non-null     object
 7   period                                   96 non-null     object
 8   revenue                                  96 non-null     int64
 9   costOfRevenue                            96 non-null     int64
 10  grossProfit                              96 non-null     int64
 11  grossProfitRatio                         96 non-null     float64
 12  researchAndDevelopmentExpenses           96 non-null     int64
 13  generalAndAdministrativeExpenses         96 non-null     int64
 14  sellingAndMarketingExpenses              96 non-null     int64
 15  sellingGeneralAndAdministrativeExpenses  96 non-null     int64
 16  otherExpenses                            96 non-null     int64
 17  operatingExpenses                        96 non-null     int64
 18  costAndExpenses                          96 non-null     int64
 19  interestIncome                           96 non-null     int64
 20  interestExpense                          96 non-null     int64
 21  depreciationAndAmortization              96 non-null     int64
 22  ebitda                                   96 non-null     int64
 23  ebitdaratio                              96 non-null     float64
 24  operatingIncome                          96 non-null     int64
 25  operatingIncomeRatio                     96 non-null     float64
 26  totalOtherIncomeExpensesNet              96 non-null     int64
 27  incomeBeforeTax                          96 non-null     int64
 28  incomeBeforeTaxRatio                     96 non-null     float64
 29  incomeTaxExpense                         96 non-null     int64
 30  netIncome                                96 non-null     int64
 31  netIncomeRatio                           96 non-null     float64
 32  eps                                      96 non-null     float64
 33  epsdiluted                               96 non-null     float64
 34  weightedAverageShsOut                    96 non-null     int64
 35  weightedAverageShsOutDil                 96 non-null     int64
 36  link                                     96 non-null     object
 37  finalLink                                96 non-null     object
dtypes: float64(7), int64(21), object(10)
memory usage: 28.6+ KB

In [16]:
income_statement

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,revenue,costOfRevenue,...,incomeBeforeTaxRatio,incomeTaxExpense,netIncome,netIncomeRatio,eps,epsdiluted,weightedAverageShsOut,weightedAverageShsOutDil,link,finalLink
0,2022-10-31,A,USD,0001090872,2022-12-21,2022-12-20 18:42:30,2022,Q4,1849000000,837000000,...,0.246079,87000000,368000000,0.199027,1.24,1.230000,296000000,298000000,https://www.sec.gov/Archives/edgar/data/109087...,https://www.sec.gov/Archives/edgar/data/109087...
1,2022-07-31,A,USD,0001090872,2022-09-01,2022-08-31 18:53:26,2022,Q3,1718000000,779000000,...,0.231083,68000000,329000000,0.191502,1.10,1.100000,298000000,299000000,https://www.sec.gov/Archives/edgar/data/109087...,https://www.sec.gov/Archives/edgar/data/109087...
2,2022-04-30,A,USD,0001090872,2022-05-31,2022-05-27 19:33:57,2022,Q2,1607000000,746000000,...,0.207218,59000000,274000000,0.170504,0.92,0.910000,299000000,301000000,https://www.sec.gov/Archives/edgar/data/109087...,https://www.sec.gov/Archives/edgar/data/109087...
3,2022-01-31,A,USD,0001090872,2022-03-03,2022-03-03 17:02:17,2022,Q1,1674000000,764000000,...,0.190562,36000000,283000000,0.169056,0.94,0.930000,301000000,303000000,https://www.sec.gov/Archives/edgar/data/109087...,https://www.sec.gov/Archives/edgar/data/109087...
4,2021-10-31,A,USD,0001090872,2021-12-17,2021-12-17 17:01:49,2021,Q4,1660000000,760000000,...,0.269880,6000000,442000000,0.266265,1.46,1.450000,303000000,305000000,https://www.sec.gov/Archives/edgar/data/109087...,https://www.sec.gov/Archives/edgar/data/109087...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,2000-01-31,A,USD,0001090872,2000-03-15,2000-03-15 00:00:00,2000,Q1,2246000000,1160000000,...,0.089938,71000000,131000000,0.058326,0.30,0.297727,439000000,440000000,https://www.sec.gov/Archives/edgar/data/109087...,https://www.sec.gov/Archives/edgar/data/109087...
92,1999-10-31,A,USD,0001090872,1999-10-31,1999-10-30 20:00:00,1999,Q4,2448000000,0,...,0.000000,0,146000000,0.059641,0.33,0.330000,439000000,440000000,,
93,1999-07-31,A,USD,0001090872,1999-07-31,1999-07-30 20:00:00,1999,Q3,2087000000,0,...,0.000000,0,135000000,0.064686,0.30,0.300000,450000000,450000000,,
94,1999-04-30,A,USD,0001090872,1999-04-30,1999-04-29 20:00:00,1999,Q2,2010000000,0,...,0.000000,0,157000000,0.078109,0.35,0.340000,448571429,461764706,,
95,1999-01-31,A,USD,0001090872,1999-01-31,1999-01-30 19:00:00,1999,Q1,1786000000,0,...,0.000000,0,74000000,0.041433,0.17,0.160000,435294118,462500000,,

In [26]:
income_statement["date"] = pd.to_datetime(income_statement["date"])

In [27]:
income_statement['date'] = income_statement['date'].dt.year

In [30]:
eps_df = income_statement[["date","period","eps"]]

# connect dfs together

In [ ]:
financial_ratios

In [ ]:
financial_ratios.info()

In [ ]:
financial_ratios.drop(columns=["symbol","period"], inplace = True)

In [ ]:
financial_ratios.set_index('date', inplace = True)

In [ ]:
financial_ratios.isna().mean()

In [ ]:
financial_ratios.dropna(axis=1, how='any', inplace = True)

In [ ]:
financial_ratios.sort_values(by = "date", inplace = True)

# Split the data

In [ ]:
train, validate, test = prepare.split_data(financial_ratios)

# Charting the ratios over time

In [ ]:
import matplotlib.pyplot as plt
plt.style.use("fivethirtyeight")

for col in train.columns:
    plt.figure(figsize=(16,8))
    plt.plot(train[col])
    plt.ylabel(col)
    plt.title(col)
    plt.xticks(fontsize=10, rotation=90)
    plt.show()

In [ ]:
# import urllib.request, json 
# import pandas as pd

# with urllib.request.urlopen("https://financialmodelingprep.com/api/v3/company-key-metrics/AAPL?period=quarter") as url:
#     data = json.loads(url.read().decode())
#     df = pd.DataFrame(data)
# print(df)